# MMA 867 Team Project - PCA Analysis

In [6]:
# Import required Python libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import seaborn as sns

## Section 1: Data Ingestion

In [ ]:
# Load all project files for the team assignment
df_train_predictors = pd.read_csv('Training_Data_Predictors.csv')
df_train_target = pd.read_csv('Train_Target.csv')

In [10]:
df_train_predictors

,ID,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post
0,1,131630,Photo,3,7,2,23,0.0,2822,5058,424,351,486,3681,2020,327
1,2,116435,Photo,3,5,3,7,0.0,18552,25542,1005,676,1021,15973,10584,676
2,3,109670,Photo,1,4,6,13,0.0,6172,10417,718,684,906,7692,4234,508
3,4,138895,Video,1,12,4,11,1.0,36208,61262,1141,1068,1728,30131,14112,559
4,5,126345,Photo,1,6,2,9,1.0,5854,11854,1043,947,19779,5901,2894,583
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,119198,Photo,3,5,6,14,0.0,2772,4642,526,479,604,3353,1943,305
396,397,134879,Photo,1,9,1,10,0.0,2232,4005,374,335,458,3247,1740,278
397,398,138458,Photo,3,12,5,3,0.0,2478,4306,212,124,149,2612,1443,166
398,399,129600,Photo,3,7,2,13,0.0,4666,8360,729,648,1014,5010,2818,459
399,400,138895,Photo,3,12,2,9,0.0,3002,5318,268,185,247,3039,1676,194

In [9]:
df_train_target.head()

   ID  Total_Interactions
0   1                 135
1   2                 429
2   3                  87
3   4                 174
4   5                 218

In [13]:
df = pd.merge(df_train_predictors, df_train_target, on="ID")

df.head()

,ID,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,Total_Interactions
0,1,131630,Photo,3,7,2,23,0.0,2822,5058,424,351,486,3681,2020,327,135
1,2,116435,Photo,3,5,3,7,0.0,18552,25542,1005,676,1021,15973,10584,676,429
2,3,109670,Photo,1,4,6,13,0.0,6172,10417,718,684,906,7692,4234,508,87
3,4,138895,Video,1,12,4,11,1.0,36208,61262,1141,1068,1728,30131,14112,559,174
4,5,126345,Photo,1,6,2,9,1.0,5854,11854,1043,947,19779,5901,2894,583,218

In [15]:
df.describe()

,ID,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,Total_Interactions
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,399.000000,400.000000,4.000000e+02,400.000000,400.000000,400.000000,4.000000e+02,400.000000,400.000000,400.000000
mean,200.500000,123871.910000,1.882500,7.165000,4.192500,7.807500,0.280702,13859.785000,3.067837e+04,907.500000,793.082500,1409.990000,1.721118e+04,6414.222500,604.810000,199.845000
std,115.614301,16056.476886,0.851767,3.287064,2.027491,4.345417,0.449906,22403.733379,8.299078e+04,951.224182,891.634491,2059.479926,6.585166e+04,7267.062723,599.254737,262.540062
min,1.000000,81370.000000,1.000000,1.000000,1.000000,1.000000,0.000000,238.000000,5.700000e+02,9.000000,9.000000,9.000000,5.670000e+02,236.000000,9.000000,0.000000
25%,100.750000,115368.000000,1.000000,4.000000,2.000000,3.000000,0.000000,3322.000000,5.783750e+03,387.750000,324.750000,509.250000,3.952500e+03,2171.000000,287.750000,71.000000
50%,200.500000,130791.000000,2.000000,7.000000,4.000000,9.000000,0.000000,5109.000000,8.774000e+03,626.000000,543.500000,849.000000,6.093500e+03,3299.000000,408.000000,122.500000
75%,300.250000,136642.000000,3.000000,10.000000,6.000000,11.000000,1.000000,12906.000000,2.208550e+04,1062.000000,951.000000,1468.000000,1.539100e+04,8066.000000,660.500000,228.500000
max,400.000000,139441.000000,3.000000,12.000000,7.000000,23.000000,1.000000,158208.000000,1.110282e+06,11452.000000,11328.000000,19779.000000,1.107833e+06,48368.000000,4318.000000,2177.000000

## Section 2: EDA & Data Cleaning
*(To be completed by teammate responsible for identifying unusual employees)*

<h5 style="color: blue;">EDA & Data Cleaning Findings & Conclusion</h5>

Write your conclusion in point form here:
1. ....
2. ....
3. ....

## Section 3: PCA & Modelling
*(To be completed by teammate responsible for identifying unusual employees)*

<h5 style="color: blue;">PCA & Modelling Findings & Conclusion</h5>

Write your conclusion in point form here:
1. ....
2. ....
3. ....

## Section 4: PCA Loadings
*(To be completed by teammate responsible for identifying question-to-theme mapping)*

## Section 5: Modelling Evaluation
*(To be completed by teammate responsible for identifying unusual employees)*

<h5 style="color: blue;">Modelling Evaluation Findings & Conclusion</h5>

Write your conclusion in point form here:
1. ....
2. ....
3. ....